# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*

# Build
frontend/dist/
frontend/.vite/
release/
dist-electron/

# Backend data
backend/data/
backend/uploads/

# SQLite and sql.js
*.sqlite
*.db

# IDE
.vscode/
.idea/
